[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.4"


[dev-packages]
flake8 = "~=6.0.0"
black = "~=22.12.0"
isort = "~=5.11.2"

[requires]
python_version = "3.10"
